/* Grundregeln */

body {
    color: white;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(71, 71, 71);
}

h1,
h2,
h3 {
    font-family: 'Roboto Mono', monospace;
}

/* ---------------------------------------------------------------------------------------*/



/* Elemente für Navigation */

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* position: sticky;
    top: 0; */
}

.navigation li a {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}

.active {
    background-color: rgb(67, 94, 79)
}

/*
ul {
    position: fixed;
    top: 0;
    width: 100%;
}
*/

/* ---------------------------------------------------------------------------------------*/



/* Elemente für Link */

a:visited {
    color: grey;
    text-decoration-line: underline;
}

a:link {
    color: grey;
    text-decoration-line: underline;
}

a:hover {
    color: rgb(214, 232, 222);
    text-decoration-line: none;
}

/* ---------------------------------------------------------------------------------------*/



/* CSS Grid */

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgb(67, 94, 79);
}

body {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px 100px 1fr 1000px;
    grid-template-areas:
        "header header"
        "navigation navigation"
        "content sidebar"
        "footer footer";
}

header,
nav,
main,
aside,
footer {
    padding: 40px;
    background-color: rgb(71, 71, 71);
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
    text-align: center;
}

#img1 {
    width: 200px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

#img2 {
    width: 500px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: right;
}

.home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 1fr 1000px;
    grid-template-areas:
        "header header"
        "navigation navigation"
        "content content"
        "footer footer";
}

.home main {
    text-align: center;
}

/* ---------------------------------------------------------------------------------------*/



/* Kontankt */

.contact {
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
    padding: 20px;
}

.contact div {
    background-color: rgb(61, 61, 61);
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.button {
    background-color: rgb(112, 143, 126);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button :hover {
    background-color: white;
}

form input,
textarea {
    border: 1px solid black;
    background: white;
    border-radius: 4px;
}

/* ---------------------------------------------------------------------------------------*/



/* Website für Mobiles */

@media screen and (max-width: 600px) {

    body {

        grid-template-columns: 100%;
        grid-template-rows: 150px 200px 1fr 1fr 100px;
        grid-template-areas:
            "header"
            "navigation"
            "content"
            "sidebar"
            "footer";

    }

    /*
    
    #navi {
        display: flex;
    }

    #navi li {
        border: 1px solid black;
        padding: px;
        background-color: white;
        flex-direction: column;
        list-style: none;
        margin-right: 5px;
    }

    :root {
        font-size: 150%;
    }

    */ 

    .navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #333;
      }
      
    .navigation li a {
        display: block;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
      }

}