/* Grundregeln */

* {
    box-sizing: border-box;
}

body {
    color: white;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(71, 71, 71);
    line-height: 150%;
}

h1,
h2,
h3 {
    font-family: 'Roboto Mono', monospace;
}

/* --------------------------------------------------------------------------------------- */

/* Elemente für Navigation */

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li a {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}

.active {
    background-color: rgb(67, 94, 79)
}

/* --------------------------------------------------------------------------------------- */

/* Elemente für Link */

a:visited {
    color: grey;
    text-decoration-line: underline;
}

a:link {
    color: grey;
    text-decoration-line: underline;
}

a:hover {
    color: rgb(214, 232, 222);
    text-decoration-line: none;
}

/* --------------------------------------------------------------------------------------- */

/* CSS Grid */

body {
    max-width: 1600px;
    margin: auto;
    background-color: rgb(67, 94, 79);
}

body {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header header"
        "navigation navigation"
        "content sidebar"
        "footer footer";
}

header,
nav {
    background-color: rgb(71, 71, 71);
    padding-left: 1px;
    padding-right: 1px;
}

main {
    background-color: rgb(71, 71, 71);
    padding: 50px;
    min-height: 1000px;
}

aside,
footer {
    background-color: rgb(71, 71, 71);
    padding: 50px;
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
    text-align: center;
}

/* --------------------------------------------------------------------------------------- */

/* Bilder */

.img1 {
    width: 200px;
    padding: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.img2 {
    width: 500px;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
}

.img3 {
    width: 900px;
    padding: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

#home {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header header"
        "navigation navigation"
        "content content"
        "footer footer";
}

#home main {
    text-align: center;
}

/* --------------------------------------------------------------------------------------- */

/* Kontankt */

.contact {
    border-radius: 10px;
    background-color: rgb(61, 61, 61);
    padding: 20px;
    width: 100%;
}

.contact div {
    background-color: rgb(61, 61, 61);
    padding: 5px;
    margin: 0%;
    border: none;
    border-radius: 4px;
}

.button {
    background-color: rgb(112, 143, 126);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input,
textarea {
    border: 1px solid black;
    background: white;
    border-radius: 4px;
}

.social-media-button img {
    width: 50px;
    margin-bottom: 10px;
    padding-right: 10px;
    float: left;
}

.social-media-button {
    display: flex;
    flex-direction: column;
}

/* --------------------------------------------------------------------------------------- */

/* Andere Dinge */

main div {
    padding-bottom: 100px;
}

iframe {
    width: 600px;
    height:450px; 
}

/* --------------------------------------------------------------------------------------- */

/* Website für Mobiles */

@media screen and (max-width: 800px) {

    body {

        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "header"
            "navigation"
            "content"
            "sidebar"
            "footer"
    }

    #home {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "navigation"
            "content"
            "footer";

    }

    main {
        min-height: 650px;
    }

    .img1 {
        width: 170px;
        margin-left: 10px;
        margin-bottom: 10px;
        float: right;
    }

    .img2,
    .img3 {
        width: 100%;
    }

    main ul li {
        font-size: 70%;
    }

    iframe {
        width: 100%;
    }

    .social-media-button {
        display: block;
        padding-right: 10px;
    }

    /* Hamburger */

    nav .navigation {
        display: none;
    }

    nav .navigation.active {
        display: flex;
    }

    header {
        background-color: black
    }

    #hamburger-layout {
        padding: 16px;
        background-color: black;
    }

    #bar1,
    #bar2,
    #bar3 {
        width: 32px;
        height: 5px;
        background-color: #fff;
        margin: 8px 0;
        transition: 0.4s;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header h1 {
        margin: auto;
        margin-left: 8px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav ul li a {
        display: block;
        width: 100%;
    }

    .burger-active #bar1 {
        transform: rotate(-45deg) translate(-11.5px, 8.6px);
    }

    .burger-active #bar2 {
        opacity: 0;
    }

    .burger-active #bar3 {
        transform: rotate(45deg) translate(-7.2px, -5.7px);
    }
}

/* --------------------------------------------------------------------------------------- */

/* Weitere kleine Screen Anpassungen */

@media screen and (max-width: 385px) {

    .img1 {
        width: 100%;
    }

}

@media screen and (max-width: 1000px) {

    .img2,
    .img3 {
        width: 100%;
    }

}

@media screen and (max-width: 1550px) {

    .img3 {
        width: 100%;
    }

}